{% extends 'base.html' %}

{% block page %}auth{% endblock %}

{% block title %}Register{% endblock %}

{% block header %}
    <h1>Welcome!</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-element">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="form-element">
            <label for="password">Password</label>
            <input type="text" type="password" name="password" id="password" required>
        </div>
        
        <input type="submit" value="Register" class="form-element">
    </form>
{% endblock %}