{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}To do{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('todo.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for task in tasks %}
        <article class="task">
            <header>
                <div>
                    <h1>{{ task['task'] }}</h1>
                <div class="about">by {{ task['username'] }} on {{ task['creation_time'].strftime('%Y-%m-%d') }} and due on {{ task['expiration_date'].strftime('%Y-%m-%d') }} </div>
                {% if task['completion_date'] %}
                    <div class="about">it was completed on {{ task['completion_date'].strftime('%Y-%m-%d') }}</div>
                {% endif %}
                </div>
                    {% if g.user['id'] == task['user_id'] %}
                        
                        
                        {% if not task['completion_date'] %}
                            <a class="action" href="{{ url_for('todo.update', id=task['id']) }}">Edit</a>
                            
                            <form action="{{ url_for('todo.mark_completed', id=task['id']) }}" method="post">
                                <input class="danger" type="submit" value="Complete" onclick="return confirm('Are you sure?');">
                            </form>
                        {% endif %}
                        
                    {% endif %}
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}