{% extends 'base.html' %}

{% block page %}auth{% endblock %}

{% block header %}
    <h1>{% block title %}Edit "{{ task['task'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-element">
            <label for="task">Task</label>
            <input name="task" id="task" value="{{ request.form['task'] or task['task'] }}" required>

        </div>

        <div class="form-element">
            <label for="expiration_date">Expiration Date</label>
            <input type="datetime-local" name="expiration_date" id="expiration_date" value="{{ request.form['expiration_date'] or task['expiration_date'] }}" required>

        </div>

        <input type="submit" value="Save" class="form-element">
        <hr>
    </form>
    
    <div>
        <form action="{{ url_for('todo.delete', id=task['id']) }}" method="post">
            <input class="form-element del" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
    </div>
    
{% endblock %}

